<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.geolocation5" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Working with Google Map Geocoder</name>
    <description>
        Sample application that shows how to work with google map Geocoder.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="android-minSdkVersion" value="7" />
	<plugin name="org.apache.cordova.network-information" />
	<plugin name="org.apache.cordova.geolocation" />
    <icon src="icon.png" platform="android" qualifier="ldpi" />
    <icon src="icon.png" platform="android" qualifier="mdpi" />
    <icon src="icon.png" platform="android" qualifier="hdpi" />
    <icon src="icon.png" platform="android" qualifier="xhdpi" />
    <icon src="icon.png" platform="android" qualifier="xxhdpi" />	
</widget>